.header{
    background-color: #FFCDD2;
}

.navigation{
    background-color: #BBDEFB;
}

.content{
    background-color: #B2DFDB;
}

.ad{
    background-color: #FFF9C4;
}

.footer{
    background-color: #FFCCBC;
}
